body {
    font-family: "La Belle Aurore", cursive;
    background-image: url("./Assets/background.jpg");
}

.header {
    background-color: hsl(9, 57%, 64%);
}

h1 {
    text-align: center;
    justify-content: center;
}

li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

ul {
    text-align: center;
}

/* .main {
    background-image: url("./Assets/background.jpg");
}

.main2 {
  background-image: url("./Assets/background.jpg");
} */

#year1 {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

h2 {
  text-align: center;
  justify-content: center;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-left: 400px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  #dot {
    margin-left: 40px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #main2Container {
    width: 475px;
    text-align: center;
    display: inline-block;
  }






  @media screen and (max-width: 576px) {
    #year1pic2 {
      float: none;
      align-items: center;
    }
    #year1pic2 {
      float: none;
      margin-top: 10px;
    }
    .slideshow-container {
      margin-left: 0px;
      /* margin-right: 400px; */
    }
    #year2pic2 {
      float: none
    }
    #year2pic2 {
      float: none;
      margin-top: 10px;
    }
  }


  